.marker-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  border: 4px solid white;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: default;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  transition:
    transform 0.3s ease,
    z-index 0.3s,
    box-shadow 0.3s ease;
  cursor: pointer;
  position: absolute;
  &:hover {
    z-index: 99;
    transform: scale(1.1);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
  }

  .material-symbols-outlined .sm {
    font-size: 20px !important;
  }

  .em_analise {
    background-color: #facc15;
  }

  .pendente {
    background-color: #f97316;
  }

  .concluida {
    background-color: #10b981;
  }

  .em_execucao {
    background-color: #1e88e5;
  }

  .rejeitada {
    background-color: #e53935;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.35);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
}
