@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

:root {
  --b-color-darkness: #0b3d2e;
  --b-color-dark: #12694f;
  --b-color-medium: #1b8c66;
  --b-color-base: #24b57f;
  --b-color-soft: #6ed6ae;
  --b-color-light: #b6ecd6;
  --b-color-lightness: #e6f8ef;
}

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  width: 10px;
}

.dashboard-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  gap: 24px;
  height: 100%;

  grid-template-areas:
    "card1 card2 card3 card4"
    "map map map info";
}

.cards-container {
  display: contents;
}

.card:nth-child(1) {
  grid-area: card1;
}
.card:nth-child(2) {
  grid-area: card2;
}
.card:nth-child(3) {
  grid-area: card3;
}
.card:nth-child(4) {
  grid-area: card4;
}

.map-wrapper {
  grid-area: map;
  width: 100%;
  height: 100%;
}

.info {
  grid-area: info;
  width: 100%;
}

.informacoes-marcador {
  padding: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid var(--s-color-border-default);
  border-radius: var(--s-border-radius-medium);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.map-container {
  display: block;
}

@media (max-width: 1024px) {
  .dashboard-layout {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "card1 card2"
      "card3 card4"
      "map map"
      "info info";
  }

  .map-wrapper {
    height: 500px;
  }

  .informacoes-marcador {
    width: 100%;
  }
}
